.app-button,
.medium,
.contained {
  border: 0 none;
  background-color: var(--secondary-color);
  color: var(--white-color);
  cursor: pointer;
  border-radius: var(--spacing-spacer_1);

  padding: var(--spacing-spacer_2) var(--spacing-spacer_3);
  font-weight: 600;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

.small {
  padding: var(--spacing-spacer_1) var(--spacing-spacer_2);
  font-size: 12px;
  line-height: 1.5;
}

.outlined {
  border: 1px solid var(--black-medium-color);
  background-color: var(--white-color);
  color: var(--black-medium-color);
}

.app-button:disabled {
  opacity: 0.3;
  outline: none;
  cursor: not-allowed;
}

.app-button:focus-visible {
  outline: 4px solid var(--grey-light-color);
}
