.app-table-wrapper {
  min-height: 274px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.app-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.app-table-head {
  background-color: var(--primary-color);
}

.app-table-head th {
  padding: 12px 8px;
  font-size: 16px;
  font-weight: bold;
}

.app-table-body tr:nth-child(even) {
  background-color: #f3f3f3;
}

.app-table-body tr:nth-child(odd) {
  background-color: #ffffff;
}

.app-table-body td {
  padding: 10px 8px;
  color: #333333;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
