:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* colors */
  --primary-color: #ff9900;
  --secondary-color: #146eb4;
  --blue-medium-color: #0093cb;
  --black-color: #000000;
  --black-medium-dark-color: #333333;
  --black-medium-color: #232f3e;
  --black-medium-light-color: rgba(0, 0, 0, 0.1);
  --grey-color: #f2f2f2;
  --grey-light-color: #cccccc;
  --grey-lighter-color: #f3f3f3;
  --white-color: #fff;

  /* spacing */
  --spacing-spacer_1: 4px;
  --spacing-spacer_2: 8px;
  --spacing-spacer_3: 12px;
  --spacing-spacer_4: 16px;
  --spacing-spacer_5: 24px;
  --spacing-spacer_6: 32px;
  --spacing-spacer_7: 40px;
  --spacing-spacer_8: 48px;

  /* custom media */
  --viewport-S: 375px;
  --viewport-M: 768px;
  --viewport-L: 992px;
  --viewport-XL: 1200px;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
